body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/flock.bmp');
    background-repeat: repeat;
    color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    text-decoration: underline;
}

.header-left {
    flex: 1;
}

.header-center {
    flex: 1;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right-counter {
    flex: 1;
}

.header-right-gifs {
    flex: 1;
}

#canvas {
    background-color:brown;
    border: 3px solid yellow;
}

footer {
    height: 30px;
}

#start-sound { 
    display: none;
}